componentize-go
target
*.wasm

# TODO: Remove once wasip3 patch is merged into Big GO
go-*-bootstrap*

# Ignoring generated code
examples/*/go.mod
examples/*/go.sum
examples/*/wasi_*
examples/*/wit_*

# Not generated
!examples/wasip1/go.mod
